{% extends "layout.html" %}

{% block content %}
<div class="container py-5">

    <div class="text-center mb-5">
        <h1 class="display-5 fw-bold">Shopping Cart</h1>
        <p class="text-muted">Your selected products</p>
    </div>
    <!-- Empty cart  -->
    <div class="row justify-content-center">
        <div class="col-lg-6">

            <div class="card shadow-sm border-0 text-center p-5">
                <h3 class="mt-3">Your cart is empty</h3>
                <p class="text-muted">
                    Looks like you haven’t added anything to your cart yet.
                </p>
                <a href="{% url 'product_list' %}" class="btn btn-primary mt-3">
                    Go to products
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}